.features {
	padding-bottom: 0;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.features-list__item {
	width: 100%;
	align-items: center;
	@media screen and (min-width: 768px) {
		width: calc((100% - 30px) / 2);
	}
	@media screen and (min-width: 1200px) {
		width: calc((100% - 90px) / 4);
	}
}

.features-list__img {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--color-background-second);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.features-list__title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.features-list__text {
	font-size: 14px;
	line-height: 1.71;
}
