.header {
	border-bottom: 1px solid var(--color-header-border);
}

.header__container,
.nav {
	display: flex;
	align-items: center;
}

.header__container {
	@media screen and (max-width: 767px) {
		justify-content: space-between;
	}
}

.nav__list,
.contacts {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.14;
	}
}

.nav__list {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	display: flex;
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.contacts {
	margin-left: auto;
	@media screen and (min-width: 1200px) {
		display: flex;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}

.contacts__item:not(:last-child) {
	margin-bottom: 10px;
	@media screen and (min-width: 1200px) {
		margin-right: 30px;
	}
}

.nav__link {
	color: var(--color-text-title);
	position: relative;
	&--current {
		color: var(--color-accent);
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background: var(--color-accent);
			bottom: 0;
			transform: translate(0, 1px);
		}
	}
}

.nav__link,
.contacts__link {
	display: flex;
	align-items: center;
}

.nav__link {
	@media screen and (min-width: 768px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.contacts__icon {
	margin-right: 8px;
	fill: currentColor;
	@media screen and (min-width: 1200px) {
		margin-right: 10px;
	}
	&--envelope {
		@media screen and (min-width: 1200px) {
			width: 16px;
			height: 12px;
		}
	}
	&--smartphone {
		@media screen and (min-width: 1200px) {
			width: 10px;
			height: 16px;
		}
	}
}

.menu__btn {
	width: 40px;
	height: 40px;
	border: 0;
	background-color: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	@media screen and (min-width: 768px) {
		display: none;
	}
	&:hover,
	&:focus {
		color: var(--color-accent);
	}
	&--close {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}

.menu__icon {
	fill: currentColor;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #ffffff;
	width: 100vw;
	height: 100vh;
	padding-top: 48px;
	padding-bottom: 48px;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		overflow-y: auto;
		padding-left: 40px;
	}
}

.mob-menu-list {
	margin-bottom: 40px;
}

.mob-menu-item:not(:last-child) {
	margin-bottom: 32px;
}

.mob-menu-link {
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--color-text-title);
	&.current {
		color: var(--color-accent);
	}
}

.mob-connect-tel,
.mob-connect-mail {
	display: block;
}

.mob-connect-tel {
	font-weight: 500;
	font-size: 34px;
	line-height: calc(40 / 34);
	letter-spacing: 0.02em;
	margin-bottom: 32px;
}

.mob-connect-mail {
	font-weight: 500;
	font-size: 24px;
	line-height: calc(28 / 24);
	letter-spacing: 0.02em;
	margin-bottom: 64px;
}

.mob-soc-list {
	display: flex;
}

.mob-soc-item {
	position: relative;
	&:hover,
	&:focus {
		color: var(--color-accent);
	}
	&:not(:last-child) {
		margin-right: 20px;
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 100%;
			right: -10px;
			background: rgba(33, 33, 33, 0.2);
		}
	}
}

.mob-soc-link {
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
}
